
.file-upload {
  background:url('images/star.jpeg') center/cover no-repeat;
  
  height: 50vw;
  margin: auto;
  padding: 300px;
}



.file-upload-btn:hover {
  background: #707c76;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: var(--color-dark-white);
  opacity: 0.5;
  
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

i{
  font-size: 100px;
  font-size: black;
}

.drag-text h2,h3{
  text-align: center;
  color: var(--color-blue);
}




.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #ffc451;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #ffc451;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #ffc451;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease-in;
}

.label-container img{
  width:50px;
  height:50px;
  border-radius: 50%;
}

.nav-distance{
  padding: 2.1% 7.7%;
}

.navbar-brand{
  font-family: NanumSquareR;
  line-height: 1.68;
  text-align: center;
  
}

h1{
  margin: auto;
  text-align: center;
}